---
---

@import "{{ site.theme }}";
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin-top: 20px
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav.top-nav {
   display: flex; 
   justify-content: center; 
}

nav.top-nav a {
    color: #ffffff;
}

nav.top-nav li {
    font-size: 18px
}

.avatar {
    display: flex; 
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;    
}

.avatar img {
    width: 230px;
    height: 230px;
}

h1 {
    display: flex; 
    justify-content: center;
}